body{
	background-color: $off-white;
}

table {
  &.track-table {
    thead {
      th {
        background-image: linear-gradient( $color-secondary-2-2, $color-secondary-2-4 25% );
      }
    }
  }
}

#masthead {
  background-image: linear-gradient( $color-primary-1, $color-primary-0 10%, $color-primary-2 );
  a {
    transition: 100ms;
  }
}

#title {
  margin-top: 10px;
}

.wp-block-observant-records-release-list {
  .card {
    flex: 0 0 25%;
  }
}

#footer {
  background-color: $color-primary-4;
  background-image: linear-gradient( $color-primary-2, $color-primary-3 50% 90%, $color-primary-4 95% 100% );
  margin: 0;
}

.cover-btn {
  a {
    background-color: $color-secondary-2-3;
    &:hover {
      color: $flat-white;
      background-color: $color-secondary-2-4;
    }
  }
}

.btn {
  background-color: $color-secondary-2-3;
  &:hover {
    color: $flat-white;
    background-color: $color-secondary-2-4;
  }
}

img.bg
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}
