body {
	color: $flat-black;
}

a {
  color: $color-primary-2;
  &:hover {
    color: $color-secondary-1-3;
    text-decoration: none;
  }
}

#masthead {
  color: $off-white;
  a {
    color: $off-white;
    &:hover {
      text-decoration: underline;
      color: $color-complement-2;
    }
  }
}

#title {
  font-family: 'Noto Sans Display', sans-serif;
  text-transform: uppercase;
  font-size: 36pt;
  color: $off-white;
  a {
    color: $off-white;
    &:hover {
      text-decoration: underline;
      color: $color-complement-2;
    }
  }
}

footer {
  color: $flat-white;
  font-size: 95%;
  a {
    color: $flat-white;
    text-decoration: underline;
    &:hover {
      color: $color-complement-1;
      text-decoration: none;
    }
  }
}
