$spindle: #B7D3EF;
$dell: #355612;
$costa_del_sol: #5A6F32;
$woodland: #51582B;
$dark-grey: #404040;
$dark-red-brown: #402C29;
$flat-black: #3E4561;
$flat-red: #F16543;
$flat-blue: #00B5B5;
$flat-white: #F0F0F0;
$light-grey-2: #CBCBCB;
$medium-blue: #304B75;
$light-blue: #5483CC;
$light-blue-2: #B5D2FF;
$off-white: #F2F2F2;

$font-family-serif: "Istok Web", "Helvetica", "Arial", sans-serif;
$font-family-base: $font-family-serif;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=73-1T0kw0w0jyC+oRxVy4oIDfjr */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #0C5AA6;	// Main Primary color */
$color-primary-1: #5288BC;
$color-primary-2: #306EAB;
$color-primary-3: #094580;
$color-primary-4: #053664;

$color-secondary-1-0: #E9003A;	// Main Secondary color (1) */
$color-secondary-1-1: #EE5D81;
$color-secondary-1-2: #EA3462;
$color-secondary-1-3: #B4002D;
$color-secondary-1-4: #8D0023;

$color-secondary-2-0: #58E000;	// Main Secondary color (2) */
$color-secondary-2-1: #92E85A;
$color-secondary-2-2: #78E232;
$color-secondary-2-3: #44AD00;
$color-secondary-2-4: #368800;

$color-complement-0: #FF9700;	// Main Complement color */
$color-complement-1: #FFC063;
$color-complement-2: #FFAE39;
$color-complement-3: #C57500;
$color-complement-4: #9B5C00;



// As RGBa codes */

$rgba-primary-0: rgba( 12, 90,166,1);	// Main Primary color */
$rgba-primary-1: rgba( 82,136,188,1);
$rgba-primary-2: rgba( 48,110,171,1);
$rgba-primary-3: rgba(  9, 69,128,1);
$rgba-primary-4: rgba(  5, 54,100,1);

$rgba-secondary-1-0: rgba(233,  0, 58,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(238, 93,129,1);
$rgba-secondary-1-2: rgba(234, 52, 98,1);
$rgba-secondary-1-3: rgba(180,  0, 45,1);
$rgba-secondary-1-4: rgba(141,  0, 35,1);

$rgba-secondary-2-0: rgba( 88,224,  0,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(146,232, 90,1);
$rgba-secondary-2-2: rgba(120,226, 50,1);
$rgba-secondary-2-3: rgba( 68,173,  0,1);
$rgba-secondary-2-4: rgba( 54,136,  0,1);

$rgba-complement-0: rgba(255,151,  0,1);	// Main Complement color */
$rgba-complement-1: rgba(255,192, 99,1);
$rgba-complement-2: rgba(255,174, 57,1);
$rgba-complement-3: rgba(197,117,  0,1);
$rgba-complement-4: rgba(155, 92,  0,1);



// Generated by Paletton.com © 2002-2014 */
// http://paletton.com */